<div class="container">

  <div class="get_started">
      <div class="header">
        <%= image_tag "yelp-logo.png" %>
        <h3 class="text-muted">Project Yelfie*</h3>
          <p>
            Ever wanted to see your Yelp reviews in a Pinterest-like format? Now you can with Yelfie -- a Yelp Selfie! Yelfie automatically grabs the 100 most recent reviews and photos from your Yelp Profile and generates a cool, visual grid that you can scroll through. Try it below by copying and pasting your Yelp Profile URL!
          </p>
          <p>
            <strong>Example Yelp Profile URL:</strong> http://www.yelp.com/user_details?userid=sraTrYU-7q_bQ0TxQrLJvQ
          </p>
      </div>

    <%= simple_form_for @yelper do |f| %>
            <fieldset>
              <%= f.input :yelp_profile_url, label: "Enter Yelp Profile URL" %>
              <%#= f.input :yelp_user_id, label: "Enter Yelp Profile URL", required: false %>
              <%= f.button :submit, value: "Go", class: "btn-danger", data: {"loading-text" => raw("Generating Yelfie, please wait...")} %>
            </fieldset>
        <% end %>
  </div>

  <footer>
    *This project is not affiliated with Yelp.
  </footer>

</div> <!-- /container -->
