// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.waterfall-container {

  .item {

    border-radius: 5px 5px;

    .image img {
      display: block;
      border-radius: 5px 5px 0 0;
    }

    .item-content {
      padding: 15px;
      border-radius: 0 0 5px 5px;
    }

    .date {
      text-align:right;
      color:#bbb;
      margin-top: 2px;
    }

    .biz-address {
      font-size: 12px;
    }

    .review-text {
      border-top: 1px solid #ddd;
      margin-top: 12px;
      padding-top: 12px;
    }
  }
}